---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can  find my articles on <a href="{{https://scholar.google.com/citations?user=CxiqEW8AAAAJ&hl=en&oi=ao}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->


{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
  
    {% assign all_posts = site.publications | where: "category", category[0] | sort: "date" | reverse %}

    {% if all_posts.size > 0 %}
      <h2>{{ category[1].title }}</h2><hr />
      {% assign title_shown = true %}

      {%- comment -%}
      <!-- collect all subtype -->
      {%- endcomment -%}
      {% assign subtypes = "" | split: "" %}
      {% for post in all_posts %}
        {% if post.subtype %}
          {% assign subtypes = subtypes | push: post.subtype %}
        {% endif %}
      {% endfor %}
      {% assign subtypes = subtypes | uniq %}

      {%- comment -%}
      <!-- loop over each subtype -->
      {%- endcomment -%}
      {% for st in subtypes %}
        <h3>{{ st | capitalize }} Articles</h3><hr />
        {% for post in all_posts %}
          {% if post.subtype == st %}
            {% include archive-single.html %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {%- comment -%}
      <!-- no subtype papers -->
      {%- endcomment -%}
      {% assign no_subtype_posts = all_posts | where_exp:"item","item.subtype == nil" %}
      {% if no_subtype_posts.size > 0 %}
        <h3>Other Articles</h3><hr />
        {% for post in no_subtype_posts %}
          {% include archive-single.html %}
        {% endfor %}
      {% endif %}

    {% endif %}
  {% endfor %}
{% endif %}
